ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    list-style-type: none;
  }

  div#header{
    text-align: center; 
  }

  div#page{
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    text-decoration: none;
  }

  a:link {
  color:black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: grey;
}

  input {
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=text] {
  color: black
}
#discription input{
   min-height:500px;
}

    input:focus { 
        outline: none !important;
        border-color: black;
        box-shadow: 0 0 10px black;
    }
    textarea:focus { 
        outline: none !important;
        border-color: black;
        box-shadow: 0 0 10px black;
    }